{% import 'macros.j2' as macros %}
<!DOCTYPE html>
<html lang="fr">
        {{macros.head("Delete", "page suppression")}} <!-- 1er arg : Nom de l'onglet | 2eme arg : meta de la page-->
    <body>
        {{macros.body("API_Utilisateurs" , "1.0.0", navbar)}} <!-- 1er arg : Nom en haut de la navbar | 2eme arg : Version de l'API | 3eme arg : Liste de dictionnaires -->
                <div class="mb-1">
                    <h1 class="title-2">Search for a user to delete it</h1>                
                </div>
                <div class="containerh-50"> 
                    <h2 class="title-3 color-orange" >Please select a type of data</h2> 
                    <br> 
                    <form action=/users/user/delete/suite method="POST">
                        <div class="mb-1">
                            <label class="form-label">Data type :</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="name" name="attribut" value="name">
                                <label class="form-check-label" for="name">Name</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="surname" name="attribut" value="surname">
                                <label class="form-check-label" for="surname">Surname</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="username" name="attribut" value="username">
                                <label class="form-check-label" for="username">Username</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="email" name="attribut" value="email">
                                <label class="form-check-label" for="email">Email</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <label for="data" class="form-label">Data :</label>
                            <input type="text" class="form-control" id="data" name="data">
                        </div><br>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div><!-- NE PAS SUPPRIMER -->
        </div><!-- NE PAS SUPPRIMER -->
        {{macros.footer({"email": "test@test.com", "phone": "+33 47 89 57 78", "address": "bla"})}}
    </body>
</html>
